<li>
  <%= f.radio_button 'parent_id', kontext.id %>
  <%= f.label "parent_id_#{kontext.id}", kontext.name %>
  <% if kontext.children.any? -%>
    <ul>
      <%= render :partial    => 'kontext_options',
                 :collection => kontext.children,
                 :as         => :kontext,
                 :locals     => { :f => f } %>
    </ul>
  <% end -%>
</li>