<h1>Kontext</h1>

<ul>
  <%= render :partial => 'kontext', :collection => Kontext.roots %>
</ul>

<div id="controls">
	<% if can? :create, Kontext -%>
		<%= link_to 'New Kontext', new_kontext_path %>
	<% end -%>
</div>
