config/database.yml
.DS_Store
doc/**/*
*~
*.swp
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
public/system/datas/
.gitignore
bin/testrb-ruby-1.9.1-p378@global
bin/testrb-ruby-1.9.1-p378
bin/ruby-1.9.1-p378@global
bin/
