<h1>Your Identities</h1>

<% @people.each do |person| %>
	<%= link_to person.full_name, person %><br />
<% end %>

<% if user_signed_in? -%>
<div id="controls">
	<%= link_to 'New identity', new_person_path %>
</div>
<% end -%>