<h1>People</h1>

<% @people.each do |person| %>
<p>
	<%= link_to person.full_name, person %><br />
	<i><%=h person.motto %></i>
</p>
<% end %>

<br />

<div id="controls">
	<%= link_to 'New person', new_person_path %>
</div>