<h1><%= @person.full_name %></h1>

<p>
	<i><%= @person.motto %></i>
</p>

<p>
	<h2>Credits</h2>
	<% for_unique_credits @person do |thing, roles| -%>
		<%= link_to thing.title, thing_path(thing.id) %>
		(as <%= roles %>)<br />
	<% end -%>
</p>


