<h1>
  <%=h @person.full_name %>
</h1>

<p>
	<h2>Motto</h2>
	<i><%=h @person.motto %></i>
</p>

<p>
	<h2>Memberships</h2>
</p>

<p>
	<h2>Things</h2>
</p>

<p>
	<h2>Users</h2>
</p>

<% if user_signed_in? -%>
<div id="controls">
	<%= link_to 'Edit', edit_person_path(@person) %>
	<%= link_to 'Delete', @person, :confirm => 'Are you sure?', :method => :delete %>
</div>
<% end -%>