<p class="fields">
  <% unless f.object.new_record? -%>
    <%= image_tag f.object.data.url(:thumb) %>
  <% else -%>
    <%= f.label :data, 'Image — ' %>
    <%= f.file_field :data %>
  <% end -%>
  <!--<br />
  <%#= f.label :title %>
  <%#= f.text_field :title %>
  <br />
  <%#= f.label :description %>
  <%#= f.text_field :description %>
  -->
  <%= link_to_remove_fields 'remove', f %>
</p>
