<div id="controls">
	<% if can? :create, Thing -%>
		<%= link_to 'New thing', new_thing_path %>
	<% end -%>
</div>

<h1>Things</h1>

<% @things.each do |thing| %>
	<p>
		<%= thing.kind %>: 
		<%= link_to thing.title, thing %>

	</p>
<% end %>

