<div id="controls" class="push_3">
	<% if can? :create, Thing -%>
		<%= link_to 'New thing', new_thing_path %>
	<% end -%>
</div>

<h1>Things</h1>

<div class="entry-content things-index">
	<% @things.each do |thing| %>
		<ul>
			<li class="meta"><%= thing.kind %></li>
			<li><%= link_to thing.title, thing %></li>
	
		</ul>
	<% end %>
</div>
