.background-dark { background-color: #dbdbdb; }
.paper-light { background-color: #f8f8f8; }
.paper-dark { background-color: #ebebeb; }
.text-color { color: #333333; }
.text-special-color { color: #36a4b6; }
.bg-special-color { background-color: #36a4b6; }
.text-special-color-dark { color: #2f8e9e; }
.bg-special-color-dark { background-color: #2f8e9e; }
.text-special-color { color: #36a4b6; }
.bg-special-color { background-color: #36a4b6; }
.text-special-color-dark { color: #2f8e9e; }
.bg-special-color-dark { background-color: #2f8e9e; }
.paper-fade {
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f8f8f8));
  background: -moz-linear-gradient(top, #f6f6f6, #f8f8f8);
  background: linear-gradient(top, #f6f6f6, #f8f8f8);
}
.block-shadow {
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
.block-shiny {
  border-bottom-color: rgba(255, 255, 255, 0.75);
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-top-width: 1px;
}
.text-shadow-light { text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75); }
.text-shadow-dark { text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75); }
.transition-fade-out {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
.transition-fade-in {
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear;
}
.button {
  border-radius: 3px;
  -moz-border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ebebeb));
  background: -moz-linear-gradient(top, #ffffff, #ebebeb);
  border: 1px solid #bbbbbb;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.4em;
  margin-right: 0.2em;
  text-decoration: none;
  color: #333333;
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear;
}
.button-hover, .button-active {
  background: -webkit-gradient(linear, left top, left bottom, from(#36a4b6), to(#2f8e9e));
  background: -moz-linear-gradient(top, #36a4b6, #2f8e9e);
  color: #f8f8f8;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear;
}
.button-hover-danger {
  background: -webkit-gradient(linear, left top, left bottom, from(#b64836), to(#9e3f2f));
  background: -moz-linear-gradient(top, #b64836, #9e3f2f);
}
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.container_24 { float: left; }
body, input, textarea {
  font-size: 100%;
  font-family: Vollkorn;
  color: #333333;
  background-color: #dbdbdb;
  height: auto;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
}
a {
  text-decoration: underline;
  color: #333333;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
a:link {
  text-decoration: underline;
  color: #333333;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
a:active {
  text-decoration: underline;
  color: #333333;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
a:hover {
  text-decoration: underline;
  color: #333333;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
a:visited {
  text-decoration: underline;
  color: #333333;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
a:active {
  color: #36a4b6;
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear;
}
a:hover {
  color: #36a4b6;
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear;
}
::selection {
  background-color: #36a4b6;
  color: #f8f8f8;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}
h1 {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1em;
  margin-bottom: 0.625em;
  margin-top: 0.5em;
}
h2 {
  font-size: 1.375em;
  line-height: 2.91em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
p { margin-bottom: 1.5em; }
#site-title {
  font-size: 1.2em;
  line-height: 1em;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
}
#site-title h1 {
  line-height: 2em;
  margin: 0;
}
#site-title a {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  text-decoration: none;
  -webkit-transition: all 2s ease-in;
}
#site-title a:hover { -webkit-transition: all 0.2s ease-in; }
header {
  height: 2em;
  overflow: hidden;
}
header #site-button {
  float: left;
  position: relative;
  height: 23px;
  width: 89px;
  margin-right: 8px;
  top: 4px;
  background-image: url(../images/bau_haus-sitebutton-23px.png);
}
header #site-img { -webkit-transition: all 2s ease-out; }
header #site-img:hover {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
}
header #site-title {
  font-size: 1.2em;
  line-height: 1em;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  float: left;
  clear: none;
}
header #site-title h1 {
  line-height: 2em;
  margin: 0;
}
header #site-title a {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  text-decoration: none;
  -webkit-transition: all 3s ease-in;
}
header #site-title a:hover { -webkit-transition: all 0.2s ease-in; }
header #user span {
  margin-left: 0.8em;
  margin-right: 0.8em;
}
header #user span span { margin: 0; }
.menu {
  font-size: 0.8em;
  line-height: 2em;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  margin-top: 0.5em;
  vertical-align: baseline;
}
.menu ul { margin: 0; }
.menu li {
  float: left;
  list-style-type: none;
  margin-left: 0.2em;
}
.menu li a {
  padding-right: 9px;
  padding-left: 9px;
  letter-spacing: 1px;
  color: #222222;
  float: left;
  text-decoration: none;
}
.menu li a:hover { color: #36a4b6; }
.menu-item, #user {
  padding-bottom: 1em;
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  background-color: #ebebeb;
}
.menu-item-current {
  padding-bottom: 1em;
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  background-color: #f8f8f8;
}
#flash_notice, #flash_alert, #error_explanation {
  margin: 0 0 20px 0;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
#flash_notice {
  background: #99cc66;
  border: 1px solid #4a992a;
}
#flash_alert, #error_explanation {
  background: #f2998b;
  border: 1px solid #da2900;
}
.field_with_errors input { border: 2px solid #da2900; }
.field { margin-bottom: 1em; }
#page {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
#page h1 {
  font-family: Palatino;
  font-weight: bold;
}
#page h2 {
  font-family: Palatino;
  font-weight: bold;
}
#page h3 {
  font-family: Palatino;
  font-weight: bold;
}
#page h4 {
  font-family: Palatino;
  font-weight: bold;
}
#page div#main div.entry .description {
  text-align: justify;
  word-wrap: break-word;
}
#page div#main div {
  margin-left: 0.8em;
  margin-right: 0.8em;
  margin-bottom: 0.5em;
}
#page div#main div div {
  margin-left: 0;
  margin-right: 0;
}
#page div#main div div p { margin-bottom: 0.3em; }
#page div#main div table { margin-bottom: 1em; }
#page div#main div table tr td {
  padding: 0;
  padding-right: 0.5em;
}
#page div#main div code {
  font-size: 0.8em;
  line-height: 1.5em;
  padding: 0.5em;
  background-color: #eeeeee;
  display: block;
  white-space: pre;
}
#page div#main div img { max-width: 580px; }
#page div#main div img [rel=fancybox] { width: auto; }
#page div#side div.entry .description {
  text-align: justify;
  word-wrap: break-word;
}
#page div#side div {
  margin-left: 0.8em;
  margin-right: 0.8em;
  margin-bottom: 0.5em;
}
#page div#side div div {
  margin-left: 0;
  margin-right: 0;
}
#page div#side div div p { margin-bottom: 0.3em; }
#page div#side div table { margin-bottom: 1em; }
#page div#side div table tr td {
  padding: 0;
  padding-right: 0.5em;
}
#page div#side div code {
  font-size: 0.8em;
  line-height: 1.5em;
  padding: 0.5em;
  background-color: #eeeeee;
  display: block;
  white-space: pre;
}
#page div#side div img { max-width: 580px; }
#page div#side div img [rel=fancybox] { width: auto; }
#content-side { padding-top: 46px; }
input, textarea { font-size: 16px; }
input[type=submit] {
  width: auto;
  margin-top: 20px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ebebeb));
  background: -moz-linear-gradient(top, #ffffff, #ebebeb);
  border: 1px solid #bbbbbb;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.4em;
  margin-right: 0.2em;
  text-decoration: none;
  color: #333333;
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear;
}
input[type=submit]:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#36a4b6), to(#2f8e9e));
  background: -moz-linear-gradient(top, #36a4b6, #2f8e9e);
  color: #f8f8f8;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear;
}
textarea {
  width: 500px;
  height: 200px;
}
table tr td { padding: 0 10px 10px 0; }
#controls a {
  border-radius: 3px;
  -moz-border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ebebeb));
  background: -moz-linear-gradient(top, #ffffff, #ebebeb);
  border: 1px solid #bbbbbb;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.4em;
  margin-right: 0.2em;
  text-decoration: none;
  color: #333333;
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear;
}
#controls a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#36a4b6), to(#2f8e9e));
  background: -moz-linear-gradient(top, #36a4b6, #2f8e9e);
  color: #f8f8f8;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear;
}
#controls a:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#36a4b6), to(#2f8e9e));
  background: -moz-linear-gradient(top, #36a4b6, #2f8e9e);
  color: #f8f8f8;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear;
}
#controls a[data-method~=delete]:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#b64836), to(#9e3f2f));
  background: -moz-linear-gradient(top, #b64836, #9e3f2f);
}
div.entry div#controls {
  float: right;
  line-height: 3.8em;
}
div.entry div#controls + h1 {
  float: left;
  clear: none;
}
div.entry div#controls + h1 + * { clear: both; }
#page, .user {
  background-color: #f8f8f8;
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  border-bottom-color: rgba(255, 255, 255, 0.75);
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-top-width: 1px;
}
#main, #side {
  height: auto;
  margin-bottom: 12px;
}
#side div {
  margin-left: 0.8em;
  margin-right: 0.8em;
}
footer {
  background-color: #f8f8f8;
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  border-bottom-color: rgba(255, 255, 255, 0.75);
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 1em;
  font-size: 0.625em;
  letter-spacing: 0.15em;
  text-align: center;
}
#access .user {
  font-style: italic;
  text-align: right;
  font-size: 12px;
}
#access .user span { padding-right: 12px; }
#access .user span span { padding-right: 1px; }
#access .username {
  margin-left: 2px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 3px;
  color: #444444;
}
h1.people + p {
  font-size: 1.5em;
  line-height: 1.3em;
}
div.things-index {
  width: 920px;
  height: 100%;
  -webkit-column-count: 4;
  -webkit-column-gap: 2em;
  -webkit-column-rule: 1px dotted #dbdbdb;
  font-weight: bold;
  word-wrap: break-word;
}
div.things-index ul {
  list-style: none;
  margin-left: 0;
}
div.things-index .meta {
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 1.25em;
  font-weight: normal;
}
