body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	background: #fff;
	color: #222;
}

h1 {
	font-size: 40px;
	margin-bottom: 0.6em;
}

#wrap {
	margin-top: 30px;
	background: #eee;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	-moz-box-shadow: 1px 1px 10px #aaa;
	-webkit-box-shadow: 1px 1px 10px #aaa;
	box-shadow: 1px 1px 10px #aaa;
	
/*	border: 1px solid #888;*/
	
	overflow:hidden;
	
	z-index: 0;
}	

#logo {
	font-size: 60px;
	font-weight: bold;
/*	text-shadow: 5px 0 0 rgba(0,0,0,0.3);*/
	background: #0ac;
	color: #fff;
	margin: 0;
	padding: 20px;
	width: 920px;
	
	z-index: 1;
}

#logo a {
	font-size: 60px;
	font-weight: bold;
	color: #fff;
	text-decoration:none;
}

#menu {
	margin: 0;
	padding: 0 42px;
	width: 920px;
	background: #eee;
	border-bottom: 1px solid #ccc;
	
	z-index: 50;
	
	-moz-box-shadow: 1px 1px 10px #aaa;
	-webkit-box-shadow: 1px 1px 20px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 10px #aaa;
}

#menu a {
	color: #222;
	text-decoration: none;
	padding: 9px;
	background: #fff;
	float:left ;
	border-right: 1px solid #ccc;
	
}

#menu a:first-child {
	border-left: 1px solid #ccc;
}

#menu a:hover {
	color: #fff;
	text-decoration: underline;
	background: #222;
}

#flash_notice {
	margin: 0;
	padding: 10px 22px;
	background: #9c6;
}

#content {
	padding: 30px;
	width: 880px;
	line-height: 1.5em;
}

.controls {
	text-align: right;
}

.controls a {
	color: #0ac;
	text-decoration: none;
	padding: 10px;
	background: #fff;
	margin-left: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.controls a:hover {
	color: #fff;
	text-decoration: underline;
	background: #222;
	border: 1px solid #222;
}