<div id="controls">
	<% if can? :create, Group -%>
		<%= link_to 'New Group', new_group_path %>
	<% end -%>
</div>

<h1>Groups</h1>

<p>
<% @groups.each do |group| %>
  <%= link_to group.name, group %><br />
<% end %>
</p>