<h1>Groups</h1>

<% @groups.each do |group| %>
    <%= link_to group.name, group %><br />
<% end %>

<br />

<% if user_signed_in? -%>
<div id="controls">
	<%= link_to 'New group', new_group_path %>
</div>
<% end -%>