<h1>
  [G] <%=h @group.name %>
</h1>

<p>
	<h2>Description</h2>
	<%=simple_format @group.description %>
</p>

<p>
	<h2>Members</h2>
</p>

<% if user_signed_in? -%>
<div id="controls">
	<%= link_to 'Edit', edit_group_path(@group) %>
	<%= link_to 'Delete', @group, :confirm => 'Are you sure?', :method => :delete %>
</div>
<% end -%>