<h1>
  [U] <%=h @user.username %>
</h1>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<div id="controls">
	<%= link_to 'Edit', edit_user_path(@user) %>
	<%= link_to 'Show all', users_path %>
</div>