<h1>
  User: <%=h @user.username %>
</h1>

<p>
  <h2>Email</h2>
  <%=h @user.email %>
</p>

<p>
	<h2>People</h2>
</p>

<p>
	<h2>Groups</h2>
</p>

<div id="controls">
	<%= link_to 'Edit', edit_user_path(@user) %>
	<%= link_to 'Delete', @user, :confirm => 'Are you sure?', :method => :delete %>
</div>