
/* ========================================== */
/* = COLORS (for LESS variables and mixins) = */
/* ========================================== */

@background-dark: #dbdbdb; /* 86% grey */
.background-dark { background-color: @background-dark;}

@paper-light: #f8f8f8; /* 97% grey */
.paper-light { background-color: @paper-light;}

@paper-medium: #f6f6f6; /* 96.666% grey */

@paper-dark: #ebebeb; /* 92% grey */
.paper-dark { background-color: @paper-dark;}

@text-color: #333333; /* 10% black */ 
.text-color { color: @text-color}

@special-color: #36a4b6; /* turquoise */ 
.text-special-color { color: @special-color;}
.bg-special-color { background-color: @special-color;}

@special-color-dark: #2f8e9e; /* turquoise darker (like button fading) */ 
.text-special-color-dark { color: @special-color-dark;}
.bg-special-color-dark { background-color: @special-color-dark;}

@special-color-invert: #b64836; /* turquoise inverted = orange */ 
.text-special-color { color: @special-color;}
.bg-special-color { background-color: @special-color;}

@special-color-invert-dark: #9e3f2f; /* turquoise inverted darker (like button fading) = orange darker */ 
.text-special-color-dark { color: @special-color-dark;}
.bg-special-color-dark { background-color: @special-color-dark;}



/* ==================================== */
/* = VISUAL EFFECTS (for LESS mixins) = */
/* ==================================== */

.paper-fade {
	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(@paper-medium), to(@paper-light));
	background:-moz-linear-gradient(top, @paper-medium, @paper-light);
	background:linear-gradient(top, @paper-medium, @paper-light); /* standards version last */
}

.block-shadow {
	-moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}

.block-shiny {
	border-bottom-color: rgba(255,255,255,0.75);
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-style: solid;
	border-top-width: 1px;
}

.text-shadow-light {
	text-shadow: 1px 1px 1px rgba(255,255,255,0.75);
}

.text-shadow-dark {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}


.transition-fade-out {
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;

}
.transition-fade-in { 
	-webkit-transition: all 0s linear;
	-moz-transition: all 0s linear;
	-o-transition: all 0s linear;
}

/* new button style based on gmail */
.button { 
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(@paper-dark));
	background: -moz-linear-gradient(top, #fff, @paper-dark);  
	border: 1px solid #bbb;
	padding-bottom: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.4em;
	margin-right: 0.2em;
	text-decoration: none;
	color: @text-color;
	.transition-fade-in;
}

.button-hover { 
	background: -webkit-gradient(linear, left top, left bottom, from(@special-color), to(@special-color-dark));
	background: -moz-linear-gradient(top, @special-color, @special-color-dark);  
	color: @paper-light;
	.text-shadow-dark;
	.transition-fade-in;
}

.button-active { 
	background: -webkit-gradient(linear, left top, left bottom, from(@special-color), to(@special-color-dark));
	background: -moz-linear-gradient(top, @special-color, @special-color-dark);  
	color: @paper-light;
	.text-shadow-dark;
	.transition-fade-in;
}

.button-hover-danger { 
	background: -webkit-gradient(linear, left top, left bottom, from(@special-color-invert), to(@special-color-invert-dark));
	background: -moz-linear-gradient(top, @special-color-invert, @special-color-invert-dark);  
}



/* =================== */
/* = GENERAL STYLING = */
/* =================== */

/* Improve text-rendering (especially kerning) */
/* Yay! http://www.aestheticallyloyal.com/public/optimize-legibility/ */
* {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased; /* consolidate antialiasing between webkit-browsers (chrome, safari) */
} 

body {
	margin-left:auto;
	margin-right: auto;
	width: 960px;
}

.container_24 {float:left;}

body, input, textarea {
	font-size: 100%;
	font-family: Vollkorn;
	color: @text-color;
	background-color: @background-dark;
	height: auto;
	.text-shadow-light;
}

a, a:link, a:active, a:hover, a:visited {
	text-decoration: underline;
	color: @text-color; /* 10% black */
	.transition-fade-out;
}
a:active, a:hover {
	color: #36a4b6;
	.transition-fade-in;
}

::selection {
	background-color: @special-color;
	color: @paper-light;
	.text-shadow-dark;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 0.05em;
	line-height: 1em;
	margin-bottom: 0.625em;
	margin-top: 0.5em;
}

h2 {
	font-size: 1.375em;
	line-height: 2.91em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

p {
	margin-bottom: 1.5em;

}


/* ========== */
/* = HEADER = */
/* ========== */

#site-title {
	font-size: 1.2em;
	line-height: 1em;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-align: center;
	text-transform: uppercase;
	color: #444;
	
	h1 {
		line-height: 2em;
		margin: 0;
	}
	
	a {
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
		text-decoration: none;
		-webkit-transition: all 2s ease-in;
		
		:hover {
			-webkit-transition: all 0.2s ease-in;
		}
	}
}

header {
	height: 2em;
	overflow: hidden;
	
	#site-button {
		float: left;
		position: relative;
		height: 23px;
		width: 89px;
		margin-right: 8px;
		top: 4px;
		background-image: url(../images/bau_haus-sitebutton-23px.png);
	}

	#site-img {
		-webkit-transition: all 2s ease-out;
	}
	#site-img:hover {
		opacity: 0;
		-webkit-transition: all 0.2s ease-out;
	}
	
	#site-title {
		font-size: 1.2em;
		line-height: 1em;
		font-weight: bold;
		letter-spacing: 1.5px;
		text-align: center;
		text-transform: uppercase;
		color: #444;
		float: left;
		clear: none;
		
		h1 {
			line-height: 2em;
			margin: 0;
		}
		
		a {
			text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
			text-decoration: none;
			-webkit-transition: all 3s ease-in;
			
			:hover {
				-webkit-transition: all 0.2s ease-in;
			}
		}
	}

	#user {
		span {
		margin-left: 0.8em;
		margin-right: 0.8em;
		
			span {
				margin:0;
			}
		}
	}
}





/* ======== */
/* = MENU = */
/* ======== */

.menu {
	font-size: 0.8em;
	line-height: 2em;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-transform: uppercase;
	margin-top: 0.5em;
	vertical-align: baseline;
	
	ul {
		margin:0;
	}
	
	li {
		float: left;
		list-style-type: none;
		margin-left: 0.2em;
		
		a {
			padding-right: 9px;
			padding-left: 9px;
			letter-spacing: 1px;
			color: #222;
			float:left ;
			text-decoration: none;
		}
		a:hover {
			color: @special-color;
		}
	}
}

.menu-item, #user {
	padding-bottom: 1em;
	.block-shadow;
	.paper-dark;
}

.menu-item-current {
	padding-bottom: 1em;
	.block-shadow;
	font-weight: bold;
	.paper-light;
}



/* ============================ */
/* = FLASH AND ERROR MESSAGES = */
/* ============================ */

#flash_notice, #flash_alert, #error_explanation {
	margin: 0 0 20px 0;
	padding: 10px;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

#flash_notice {
	background: #9c6;
	border: 1px solid #4A992A;
}

#flash_alert, #error_explanation {
	background: #F2998B;
	border: 1px solid #DA2900;
}

.field_with_errors {
	input {
		border: 2px solid #DA2900;
	}
}

.field {
  margin-bottom: 1em;
}





/* =========== */
/* = PAGE = */
/* =========== */

#page {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 1em;
		
	h1, h2, h3, h4 {
		font-family: Palatino;
		font-weight: bold;
	}	

	div#main, div#side {
		
		div.entry {
			.description {
				text-align: justify;
				word-wrap: break-word;
			}
		}
			
		div {
			margin-left: 0.8em;
			margin-right: 0.8em;
			margin-bottom: 0.5em;
			
			div {
				margin-left: 0;
				margin-right: 0;
			}
			
			div p {
				margin-bottom: 0.3em;
			}
			
			table {
				margin-bottom: 1em;
			
				tr td {
					padding: 0;
					padding-right: 0.5em;
				}
			}
			
			code {
				font-size: 0.8em;
				line-height: 1.5em;
				padding: 0.5em;
				background-color: #eee;
				display: block;
				white-space:pre
			}
			
			img {
				max-width: 580px;
			
				[rel=fancybox] {
					width: auto;
				}
			}
		}
	}
}

#content-side {
	padding-top: 46px;
}

input, textarea {
	font-size: 16px;
}

input[type=submit] {
	width: auto;
	margin-top: 20px;
	.button;
}
input[type=submit]:hover {
	.button-hover;
}

textarea {
	width: 500px;
	height: 200px;
}

table tr td {
	padding: 0 10px 10px 0;
}

#controls {	
	a {
		.button;
		
		:hover {
			.button-hover;
		}
		
		:active {
			.button-active;
		}
	}
	a[data-method~=delete]:hover { .button-hover-danger; }
}

div.entry {
	div#controls {
		float: right;
		line-height: 3.8em;
	}
	div#controls + h1 { 
		float:left;
		clear: none;
	}
	div#controls + h1 + * { clear: both; }
}

#page, .user {
	.paper-light;
	.block-shadow;
	.block-shiny;
}

#main, #side {
	height: auto;
	margin-bottom: 12px;
}





/* =========== */
/* = SIDEBAR = */
/* =========== */

#side {
	div {
		margin-left: 0.8em;
		margin-right: 0.8em;
	}
}


/* ============== */
/* = FOOTER = */
/* ============== */

footer {
	.paper-light;
	.block-shadow;
	.block-shiny;
	margin-bottom: 1em;
	font-size: 0.625em;
	letter-spacing: 0.15em;
	text-align: center;
}

/* ============== */
/* = LOGIN PAGE = */
/* ============== */

#access {
	.user {
		font-style: italic;
		text-align: right;
		font-size: 12px;
		
		span {
			padding-right: 12px;
			
			span {
				padding-right: 1px;
			}
		}
	}
	
	.username {
		margin-left: 2px;
		font-style: normal;
		font-weight: normal;
		letter-spacing: 1.5px;
		text-align: center;
		text-transform: uppercase;
		padding-top: 3px;
		color: #444;
	}
}

/* ======================================= */
/* = UNCLEAN STUFF HERE TILL I DO BETTER = */
/* ======================================= */

h1.people + p {
	font-size: 1.5em;
	line-height: 1.3em;
}

div.things-index {
	width: 920px;
	height: 100%;
	-webkit-column-count: 4;
	-webkit-column-gap: 2em;
	-webkit-column-rule: 1px dotted #dbdbdb;
	font-weight: bold;
	word-wrap: break-word;
	
	ul {
		list-style: none;
		margin-left: 0;
	}
	
	.meta {
		text-transform: uppercase;
		font-size: 0.8em;
		line-height: 1.25em;
		font-weight: normal;
	}
}