<h1>Context</h1>

<ul>
  <%= render 'context', :collection => Context.root_elements %>
</ul>

<div id="controls">
	<% if can? :create, Context -%>
		<%= link_to 'New Context', new_context_path %>
	<% end -%>
</div>
