<h1><%= @context.name %></h1>

<p>
  <b>Parent:</b>
  <% if @context.parent -%>
    <%= @context.parent.name %>
  <% else -%>
    none
  <% end -%>
</p>

<div id="controls">
	<% if can? :update, @context -%>
		<%= link_to 'Edit', edit_context_path(@context) %>
	<% end -%>
	<% if can? :destroy, @context -%>
		<%= link_to 'Delete', @context, :confirm => 'Are you sure?', :method => :delete %>
	<% end -%>
</div>