<h1>
  [I] <%=h @item.title %>
</h1>

<p>
	<h2>Description</h2>
	<%=h @item.description %>
</p>

<p>
	<h2>Credits</h2>
</p>

<div id="controls">
	<%= link_to 'Edit', edit_item_path(@item) %><%= link_to 'Show all', items_path %>
</div>