<h1>
  [I] <%=h @item.title %>
</h1>

<p>
	<h2>Description</h2>
	<%=simple_format @item.description %>
</p>

<p>
	<h2>Credits</h2>
</p>

<% if user_signed_in? -%>
<div id="controls">
	<%= link_to 'Edit', edit_item_path(@item) %>
	<%= link_to 'Delete', @item, :confirm => 'Are you sure?', :method => :delete %>
</div>
<% end -%>